<div id="pdfTable" #pdfTable>

  <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
    <tr>
      <td>Ernst Handel</td>
      <td>Roland Mendel</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Island Trading</td>
      <td>Helen Bennett</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>Laughing Bacchus Winecellars</td>
      <td>Yoshi Tannamuri</td>
      <td>Canada</td>
    </tr>
    <tr>
      <td>Magazzini Alimentari Riuniti</td>
      <td>Giovanni Rovelli</td>
      <td>Italy</td>
    </tr>
  </table>
  <div>
      <div class="imgBlock mb-4">
          <img src="https://dummyimage.com/700x350/000/fff" alt="">
      </div>

      <h1>Multifamily - 8 Units</h1>
      <h3>510 Morin St., Sault Ste. Marie, Ontario P6C 3E9</h3>

      <label>Presented by</label>

      <h4>Eden Estates Property Group</h4>

      <em class="d-block mb-4">*Draft copy for discussion purposes only*</em>

      <div class="contactDetails">
          <span class="d-block">Eduardo Hervias</span>
          <a href="#!"> ed@edenestatesgroup.com</a>
          <span class="d-block">647-299-9824</span>
      </div>
  </div>
  </div>
<div> <button  (click)="downloadAsPDF()">Export To PDF</button></div>
