.widget-content-online {
	padding: 3px 11px 5px 11px;
	border-radius: 52px;
	width: 90px;
	background: rgba(67, 164, 90, 0.15);
	font-size: 15px;
	color: #43A45A;
	text-align: center;
}

.widget-content-offline {
	padding: 3px 11px 5px 11px;
	border-radius: 52px;
	width: 90px;
	background: rgba(165, 83, 83, 0.15);
	font-size: 15px;
	color: #e52525;
	text-align: center;
}